









.marquee-content{
    display:flex;
    width:max-content;
    gap:50px;
    animation: scroll 10s linear infinite;
}

@keyframes scroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}